---
import { itemsImg } from "./img.js";
import "./portfolio.css";

const getClassName = (index) => `img-${index + 1}`;
---

<section id="portfolio" class="w-full bg-azulPetroleo flex flex-col items-center justify-center p-8">
        <h1 id="title-portfolio" class="text-yellow text-7xl font-bold py-16 title-portfolio"> 
            Nuestros <span class="text-grisClaro">Trabajos</span>
        </h1> 
    <ul class="w-5/6 grid grid-cols-4 grid-rows-4 gap-2 pb-8 container-img-portfolio">
        {itemsImg.map((item, index) => (
            <li key={index} class={`${getClassName(index)} relative overflow-hidden rounded-lg shadow-sm shadow-black`}>
                <img
                 class="object-cover w-full h-full target-image"
                 src={item.src}
                 alt={item.alt}
                />
                <div class="w-full inset-0 h-full container-tarjet">
                    <div class="inset-0 w-full h-2/4 bg-black/70 absolute tarjet-info flex">
                        <div class="flex felx-col text-grisClaro w-[70%] overflow-hidden flex-col">
                            <h3 class="text-2xl font-bold px-4 pt-2">{item.alt}</h3>
                            <p class="text-lg break-words whitespace-normal truncate px-4 pt-2">{item.description}</p>
                        </div>
                        <div class=" w-[30%]">
                            <button 
                             class="button-tarjet flex text-grisClaro font-bold text-md ml-auto p-2 mt-8 mr-2">
                             ver mas
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        ))}
    </ul> 
</section>

<script>
    const portfolio = document.getElementById("portfolio");
    const title = document.getElementById("title-portfolio");
    const visibility = 0.3;

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.intersectionRatio >= visibility) {
                title?.classList.add("title-is-visible");
            } else {
                title?.classList.remove("title-is-visible");
            }
        });
    }, { threshold: visibility }); // ← Aquí debe ir la configuración

    observer.observe(portfolio);
</script>

